@import 'tailwindcss';
@import "tailwindcss-primeui";

@font-face {
    font-family: "Pretendard Variable";
    src: url("./assets/fonts/PretendardVariable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: swap;
}

@theme {
    /* Pri Text Colors */
    --text-pri: #333;
    --text-sec: #666;
    --text-thr: #999;

    /* Sub Text Colors */
    --text-muted-foreground: theme('colors.gray.500');
}

@layer base {   
    html,body, *, *::before ,*::after  {
        font-family: "Pretendard Variable", sans-serif;
    }

    html {
        @apply text-[16px];        
    }

    body {
        @apply text-base text-stone-950;
    }
}