@import 'tailwindcss';
@import 'tailwindcss-primeui';

@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

@font-face {
    font-family: 'Pretendard Variable';
    src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: swap;
}

@theme {
    --color-txt-pri: #333;
    --color-txt-sec: #666;
    --color-txt-thr: #999;

    --text-dark-pri: #fff;

    --color-bd-pri: #6b7280;
    --color-bd-sec: #d1d5db;
    --color-bd-thr: #f3f4f6;

    --color-bg-pri: #f4f4f4;
}

:root {
    --body-bg: #fff;
    --body-txt: var(--text-pri);
}

:root[class='my-app-dark'] {
    --body-bg: var(--my-surface-950);
    --body-txt: var(--text-dark-pri);
}

@layer base {
    html,
    body,
    *,
    *::before,
    *::after {
        font-family: 'Pretendard Variable', sans-serif;
    }

    html {
        @apply text-[16px];
    }

    body {
        font-size: 16px;
        line-height: 1.5;
        background-color: var(--body-bg);
        color: var(--body-txt);
    }

    button {
        @apply cursor-pointer;
    }
}
