name: Deploy to S3 and CloudFront

on:
  push:
    branches: ['main']

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Build (필요시)
        run: |
          npm install
          npm run build 

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2
      
      - name: Deploy to S3
        run: |
          aws s3 sync ./dist s3://django-vue-blog --delete
      
      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation —distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} —paths "/*"
